body {
    background: #ffffff;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    background: url('/img/fondoform.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
    background: black !important;
}

.nav-link {
    color: #fff !important;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 800px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }

  h3{
    color: black;
    padding: 15px;
    text-shadow: 2px 2px 2px white;

  }

  input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 40px 8px 10px;
    border: none;
    box-shadow: 0 2px 4px 3px rgb(142, 200, 248);
  }

 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.5);

  }

 h5 {
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid rgb(230, 146, 21);
  }

  textarea{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 40px 8px 10px;
    border: none;
    box-shadow: 0 2px 4px 3px rgb(142, 200, 248);
  }